 //Fonts
 $font-family: 'Raleway', sans-serif;

 //Colors
 $white: #fff;
 $gray: gray;
 $error: #d14167;


 //Background
 $container-bg: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

 $main-bg: linear-gradient(to left top, #051937, #004d7a, #008793, #00bf72, #a8eb12);

 //Shadows
 $main-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;