@use "../variables" as v;

@mixin error () {
    .error {
        font-family: v.$font-family;
        color: v.$error;
        font-size: 0.8rem;
        text-align: right;
        margin-top: 0.3rem;

        /*         display: none;
 */
        &-terms {
            text-align: left;

        }
    }


}