@use "../variables" as v;

@mixin error () {
    .error {
        font-family: v.$font-family;
        color: v.$error;
        font-size: 0.8rem;
        text-align: right;
        margin-top: 0.3rem;

        //   display: none;
         
        &-terms {
            text-align: left;
        }
    }

    .error-message {
        color: v.$error;
        font-family: v.$font-family;
        text-align: right;
        font-size: 0.8rem;
        margin-top: 0.3rem;
    }
}